/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: serif;
  background-color: #fafafabc;
}

@keyframes marquee-content {
  0% { transform: translateX(100%); }
  10% { transform: translateX(0%); }
  90% { transform: translateX(-100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee-content {
  animation: marquee-content 15s ease-in-out infinite;
}


/* Tailwind CSS classes for highlighted dates */
.bg-blue-200 {
  background-color: #bfdbfe;
}
.text-blue-800 {
  color: #1e3a8a;
}
.font-bold {
  font-weight: 700;
}
.rounded-full {
  border-radius: 9999px;
}

