/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: serif;
  background-color: #FAFAFA;
}

@keyframes marquee-content {
  0% { transform: translateX(100%); }
  10% { transform: translateX(0%); }
  90% { transform: translateX(-100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee-content {
  animation: marquee-content 15s ease-in-out infinite;
}

